<h1>Rendering Animations</h1>
<ol>
<li ng-if="ctrl.story" class="story">To speed up the rendering process, change the start frame to 87. This will cause only frames 87 and later to be rendered.<br>
 <img src="./tutorial/startframe.png" class="img-responsive" width="300px"></li>
<li>To render your animation, click on the Render (camera) icon in the far right panel.</li>
<li>Press the "Animation" button, and wait.</li>
</ol>
<p>Once your animation has finished rendering, click the play button to view it at full speed.</p>
<p>Click here to fill out the final questionnaire: <button class="btn btn-primary" ng-click="ctrl.popupFinalSurvey()">Final Questionnaire</button>
